/* =============================================
   MYLINKS - ESTILOS BASE
   En las próximas clases construirás encima
   de estos estilos para mejorar el diseño.
   ============================================= */

/* --- ESTILOS GLOBALES --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f13;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- TARJETA PRINCIPAL --- */
.card {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 40px 20px;
}

/* --- FOTO DE PERFIL --- */
.avatar {
  border-radius: 50%;
}

/* --- NOMBRE --- */
.name {
  font-size: 1rem;
  margin-top: 16px;
}

/* --- BIO --- */
.bio {
  font-size: 0.8rem;
  color: #a0a0b0;
  margin-top: 8px;
}

/* --- CONTENEDOR DE ENLACES --- */
.links {
  margin-top: 24px;
}

/* --- CADA ENLACE --- */
.link {
  display: block;
  padding: 0.8rem;
  margin-top: 12px;
  border: 1px solid #2a2a38;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
}

.link:hover{
  background-color:black;
}
/*@media (max-width: 768px){
  .name{
    font-size: 1rem;
  }
  .link{
    font-size: 0.8rem;
  }
  .bio{
    font-size: 0.8rem;
  }
}*/


@media (min-width: 375px){
  .name{
    font-size: 2rem;
  }
  .bio{
    font-size: 1rem;
  }
  .link{
    font-size: 1rem;
    padding: 1rem;
  }
  .link:hover{
    background-color: #2a2a38;
  }
    
}

@media (min-width: 1024px){
  .name{
    font-size: 4rem;
  }
  .link{
    font-size: 0.8rem;
  }
  .bio{
    font-size: 0.8rem;
  }
}